* {
  padding: 0;
  margin: 0;
}

/* global CSS */
.ant-modal-mask {
  backdrop-filter: none !important;
}

/* .modal-container {
  background-color: #f2f2f2;
} */

html.light .modal-container {
  background: #f2f2f2;
}
